# Base URL backend API (without trailing slash).
# Leave empty to use the same domain as frontend (recommended for production).
VITE_API_BASE_URL=

# true  -> use mock client
# false -> use real backend API
VITE_USE_MOCK=true
