fastapi==0.115.6
uvicorn==0.34.0
SQLAlchemy==2.0.36
aiosqlite==0.20.0
alembic==1.14.0
fastapi-users==14.0.1
fastapi-users-db-sqlalchemy==7.0.0
fastapi-admin==1.0.4
pydantic==2.10.4
pydantic-settings==2.7.1
starlette==0.41.3
bcrypt==4.2.1
passlib==1.7.4
python-dotenv==1.0.1
email_validator==2.2.0
httpx==0.28.1
sqladmin==0.20.1
asyncpg==0.30.0
inflection==0.5.1
itsdangerous==2.2.0
